body{
    margin: 0;
}

.frame-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
}
.frame-left {
    width: 70%;
}

.frm-left{
    height: 85vh;
    width: 100%;
}

.frm-left-two{
    height: 85vh;
    width: 100%;
    display: none;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

.frame-right {
    width: 30%;
}

.frm-right{
    height: 85vh;
    width: 100%;
}

.frame-buttons {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn-one {
    color: #fff;
    background-color: #0e0e0e;
    text-decoration: none;
    padding: 15px 45px;
    transition: 0.3s;
}
.btn-one:hover {
    color: #fff;
    background-color: #303030;
}
.btn-two {
    color: #fff;
    background-color: #0e0e0e;
    text-decoration: none;
    padding: 15px 45px;
    transition: 0.3s;
}
.btn-two:hover {
    color: #fff;
    background-color: #303030;
}
